@tailwind base;
@tailwind components;
@tailwind utilities;

#sparkles-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.sparkle {
  position: absolute;
  font-size: 10px; /* You can adjust the size of the plus sign */
  animation: sparkle 2.5s linear;
  z-index: 100;
}

@keyframes sparkle {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(200px); /* Adjust the distance sparkles fall */
  }
}
